{
        "use_ssl": false,
        "mysql": {
                "host": "localhost",
                "username": "user",
                "password": "user",
                "database": "db",
                "port": "8888"
        },
        "ssl": {
                "fullchain": "/some/secure/dir/fullchain.pem",
                "privkey": "/some/secure/dir/privkey.pem"
        }
}
